<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Scheduler.SchedulerService.Url" value="http://localhost:8732/Design_Time_Addresses/Scheduler/cert/Scheduler.svc" />
    <add key="Scheduler.Client.CertificateSubjectName" value="Scheduler Cron Service" />
    <add key="Scheduler.Service.CertificateSerialNumber" value="b60a8cb06b6fcfbf424dee86d6ecc2eb" />
  </appSettings>
  <connectionStrings>
    <add name="WebContext" connectionString="Data Source=(local); Initial Catalog=Scheduler; Integrated Security=True; MultipleActiveResultSets=True; Connection Timeout=3"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>