@model Scheduler.DataContracts.Client

@{
    ViewBag.Title = "Client Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
@Html.Partial("DetailsPartial")
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
