@model Scheduler.DataContracts.LogEntry

@{
    ViewBag.Title = "Log Entry Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
@Html.Partial("DetailsPartial")
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
