<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WebContext" connectionString="Data Source=(local); Initial Catalog=Scheduler; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Scheduler.CronService.MachineName" value="localhost" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Scheduler.SchedulerService.Scheduler">
        <endpoint address="cert/Scheduler.svc"
                  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_cert"
                  contract="Scheduler.SchedulerService.IScheduler">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:44301/Design_Time_Addresses/Scheduler/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="AgentService"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_cert" behaviorConfiguration="clientCertBehavior"
                contract="Scheduler.AgentService.IAgent">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_cert">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientCertBehavior">
          <clientCredentials>
            <clientCertificate findValue="Scheduler Service" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" />
          <serviceMetadata httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>