<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebContext" connectionString="Data Source=(local); Initial Catalog=Scheduler; Integrated Security=True; MultipleActiveResultSets=True; Connection Timeout=3"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Scheduler.CronService.MachineName" value="localhost" />
    <add key="Scheduler.Client.CertificateSubjectName" value="Scheduler Service" />
    <add key="Scheduler.Service.BaseUrl" value="http://localhost:8732/Design_Time_Addresses/Scheduler" />
    <add key="Scheduler.Service.CertificateSerialNumber" value="b60a8cb06b6fcfbf424dee86d6ecc2eb" />
  </appSettings>
</configuration>