<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Scheduler.AgentService.Agent">
        <endpoint address="cert/Agent.svc"
                  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_cert"
                  contract="Scheduler.AgentService.IAgent">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:44302/Design_Time_Addresses/Scheduler/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="SchedulerService"
                address="https://localhost:44301/Design_Time_Addresses/Scheduler/cert/Scheduler.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_cert" behaviorConfiguration="clientCertBehavior"
                contract="Scheduler.SchedulerService.IScheduler">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_cert">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientCertBehavior">
          <clientCredentials>
            <clientCertificate findValue="Scheduler Client Machine 1" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
