.cron-control {
}

.cron-control-part {
    display: inline-block;
    float: left;
    margin-right: 16px;
}

.cron-control-part:last-child {
    margin-right: inherit;
}

.cron-control-part > div {
    display: inline-block;
    padding-left: 4px;
}

.cron-control-part > div:last-child {
    display: table;
    border-collapse: separate;
    border-spacing: 4px;
    padding: inherit;
}

.cron-control-part > div:last-child > div {
    display: table-row;
}

.cron-control-part > div:last-child > div > div {
    display: table-cell;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border: 1px solid rgb(204,204,204);
    border-radius: 4px;
}
