@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scheduler</h1>
    <p class="lead">A network based scheduling and monitoring system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started &gt;&gt;&gt;</h2>
        <p>Click on the Clients tab to create client machines.</p>
    </div>
</div>